body {
    font-family: 'Google Sans', sans-serif; 
    margin: 0;
    padding: 20px;
    color: #fff;
    text-align: center;
    background: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    background-size: 400% 400%;
    animation: Animation 5s ease infinite;
    border-radius: 15px;
}

@keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Google Sans', sans-serif;
    margin-bottom: 20px;
}

#icon {
    margin-bottom: 20px;
    width: 100px; 
}

input[type="text"], button {
    width: 95%; 
    max-width: 500px; 
    padding: 12px;
    margin: 10px auto; 
    border: none;
    border-radius: 20px; 
    font-size: 11px;
    box-sizing: border-box;
    display: block;
    color: white;
}

input#videoUrl::placeholder {
    color: white;
    opacity: 1; 
}


input[type="text"] {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

button {
    background-color: #4CAF50; 
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; 
}

#result {
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    box-sizing: border-box;
    background-size: cover;
    color: #fff;
    text-align: center;
    overflow-wrap: break-word;
    display: none;
}
